<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>7019780124-lrego1vac3jl8a6egvo8efe56o8v2po0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.7019780124-lrego1vac3jl8a6egvo8efe56o8v2po0</string>
	<key>API_KEY</key>
	<string>AIzaSyDp4DH0WjI9yge9BAzw8ivzvahrzD0-TwA</string>
	<key>GCM_SENDER_ID</key>
	<string>7019780124</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.danics.fluttergram</string>
	<key>PROJECT_ID</key>
	<string>mp-rps</string>
	<key>STORAGE_BUCKET</key>
	<string>mp-rps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7019780124:ios:76b7a5c4253ee589</string>
	<key>DATABASE_URL</key>
	<string>https://mp-rps.firebaseio.com</string>
</dict>
</plist>